/*
    Blah Blah Blah
*/

:root {
    --dark1: #09080D;
    --dark2: #1C2226;
    --mindgrey: #425059;
    --grey: #6C808C;
    --lightgrey: #A4B5BF;
    --bloodred: #730220;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
}

h1 {
    color: var(--bloodred);
}

/* Flexbox layout for overall page */
.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-header-menu, .flex-footer-menu, .flex-side-menu {
    flex-shrink: 0;
    background-color: #000;
    color: #fff;
    padding: 0px 4px 0px 4px;
}

.flex-main-content {
    flex: 1;
}

/* Mobile-first: These rules apply by default */
.flex-header-menu {
    display: none; /* Hide the header */
}

.flex-side-menu {
    display: none; /* Hide the side menu */
}

.flex-footer-menu {
    display: block; /* Show the footer */
}

.main-container {
    width: 100vw; /* Set the width to full screen */
}

@media only screen and (min-width: 601px) and (max-width: 1194px) {
    .flex-container {
        flex-direction: row;
    }
    
    .flex-header-menu {
        display: none;
    }

    .flex-side-menu {
        display: block;
    }

    .flex-footer-menu {
        display: none;
    }
}

/* Desktop: These rules are only applied if the screen is wider than 768px */
@media only screen and (min-width: 1195px) {
    .flex-header-menu {
        display: block; /* Show the header */
    }

    .flex-side-menu {
        display: none; /* Hide the side menu */
    }

    .flex-footer-menu {
        display: none; /* Hide the footer */
    }

    .main-container {
        width: 75vw;
    }
}